﻿/* Header top
----------------------------------------------*/

.navbar-fixed-top {
    box-shadow: 0px 0px 5px 2px #666;
    background-color: #6f2c3f;
}

    .navbar-fixed-top .btn-large {
        border-radius: 0;
    }

    .navbar-fixed-top ul.nav li.dropdown > a {
        color: #fff;
    }

    .navbar-fixed-top ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }

.navbar-inverse .navbar-nav > li > a {
    background-color: #792940;
}

    .navbar-inverse .navbar-nav > li > a:hover,
    .navbar-inverse .navbar-nav > li > a:focus {
        background-color: #642638;
    }

.navbar-inverse .navbar-nav > li.active > a {
    background-color: #642638;
}

    .navbar-inverse .navbar-nav > li.active > a:hover,
    .navbar-inverse .navbar-nav > li.active > a:focus {
        background-color: #562130;
    }


.navbar-brand {
    padding-right: 20px;
    margin-right: 10px;
    width: 145px;
    background: url(../../Content/Images/logo_white.png) no-repeat;
    background-size: 125px;
    background-position: center;
}

    .navbar-brand img {
        height: 30px;
        image-rendering: optimizeQuality;
        -ms-interpolation-mode: bicubic;
    }

    /*тени текста*/
.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.partner-color {
    color: #fff; 
    padding-right: 15px;
}




/*----------------------------------------------*/
.article {
    background-color: #fff;
}

    .article .article-header {
        background-color: #2ec1cc;
        color: #fff;
        padding: 22px 20px 20px;
        margin-bottom: 35px;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 1.2em;
    }

        .article .article-header span {
            margin-left: -40px;
        }

    .article .article-header-icon {
        content: 'Test';
        display: inline-block;
        background-color: #2ec1cc;
        padding: 10px 16px;
        width: 90px;
        height: 90px;
        position: relative;
        top: 0px;
        left: 48%;
        float: left;
        border: 6px solid #fff;
        border-radius: 50%;
        vertical-align: middle;
    }

        .article .article-header-icon i {
            /*display: block;*/
            font-size: 17px;
            width: 50px;
            height: 50px;
            zoom: 1;
        }

            .article .article-header-icon i:before {
                font-size: 45px;
            }

    .article .article-content {
        padding: 20px 25px 10px;
        line-height: 30px;
    }





/* Forms
-------------------------------------*/
.form-signin {
    max-width: 420px;
    padding: 15px 35px 35px;
    margin: 50px auto 20px;
    background-color: #f3f3f3 !important;
}

    .form-signin .input-block-level {
        height: 40px;
    }

    .form-signin .form-signin-heading {
    }

    .form-signin .spacer {
        margin-top: 20px;
    }

    .form-signin .btn-primary {
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .form-signin .btn-default  {
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .form-signin div > a {
    }

    .form-signin form {
        padding-top: 15px;
        margin-bottom: 15px;
    }