 div,h1,h2,h3,h4,h5,h6,form {
        margin: 0px;
        padding: 0px;
    }
    .page-wrap {
        position: relative;
        padding: 15px;
        /*min-height: 100vh;*/
    }
    .page-wrap .il-main {
        padding: 72px 36px;
        border: 1px solid #ddd;
        max-width: 978px;
        /*position: absolute;*/
        /*margin-top: 50%;*/
        /*left: 50%;*/
        /*transform: translateY(-50%);*/
    }
    .page-wrap .il-title-page {
        font: 500 20px/1.2 Roboto;
        display: inline-block;
        border-bottom: 2px solid #e7353b;
        border-bottom-color: #e8282e;
        padding-bottom: 3px;
        background-color: #fff;
        color: #342c2c;
        letter-spacing: .5px;
        margin: 26px 0px;
        text-transform: uppercase;
        margin-top: 0px;
    }

    .page-wrap .il-main-btn {
        background: #5f8eae;
        border: 3px solid #5f8eae;
        border-radius: 0!important;
        box-shadow: 0 0 0 transparent!important;
        color: #fff;
        display: block;
        font: 400 16px/1.2 Roboto;
        letter-spacing: 1px;
        /*margin: 0 auto 32px;*/
        /*width: 92.5%!important;*/
        padding: 12px 14px;
        position: relative;
        text-align: left;
        text-transform: uppercase;
        text-shadow: 0 0 1px rgba(0,0,0,.1)!important;
        transition: all .2s ease;
        background: #5f8eae;
        border-color: #5f8eae;
        color: #fff;
        cursor: pointer;
        margin-bottom: 20px;
    }
    .page-wrap .il-main-btn.il-select {
        display: none;
    }
    .page-wrap .il-window {
        border: 1px solid #ddd;
        padding: 16px;
    }
    .page-wrap .il-line-login {
        display: block;
    }
    .page-wrap .il-line-new-user {
        display: none;
    }
    .page-wrap .il-line-login {
        display: none;
    }
    .page-wrap .il-line-new-user.il-show {
        display: block;
    }
    .page-wrap .il-line-login.il-show {
        display: block;
    }

    .page-wrap input {
        height: 38px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 14px;
        color: #555;
        background-color: #fff;
        background-image: none;
        border-radius: 0px;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        border: 1px solid #beccd5;
        background: #fff;
        border-color: #d3e7eb;
        color: #a0a4a7;
        border-width: 1px;
        box-shadow: 0 0 0 transparent;
        padding: 10px 12px;
        font-weight: 700;
    }
    .page-wrap .il-select-type {
        height: 14px;
        line-height: 14px;
        margin-left: 20px;
    }
    .page-wrap .il-select-type.first {
        margin-left: 0px;
    }
    .page-wrap label span {
        font-weight: normal;
        padding-left: 10px;
    }
    .page-wrap .il-line-new-user .row {
        margin-bottom: 0px;
    }
    p {
        /*margin: 20px 0 20px 0;*/
        padding: 10px 10px 10px 10px;
    }
    .page-wrap .il-sub-title {
        background-color: #f3f3f3;
        /*height: 40px;*/
        /*line-height: 40px;*/
        padding: 10px 10px 10px 10px;
    }
    .page-wrap #il_ip_li, .page-wrap #il_ur_li, .page-wrap #il_fp_li {
        display: none;
    }

    .page-wrap label {
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding-left: 25px;
        margin-right: 15px;
        font-size: 13px;
    }
    .page-wrap label:before {
        content: "";
        display: inline-block;

        width: 15px;
        height: 15px;
        line-height: 12px;

        margin-right: 10px;
        position: absolute;
        left: 0;
        bottom: 1px;
        border: 2px solid #a4c4a4;
        margin: 3px 0;
    }
    .page-wrap input[type=radio] {
        display: none;
    }
    .page-wrap .radio label:before {
        border-radius: 8px;
    }
    .page-wrap input[type=radio]:checked + label:before {
        content: "\2022";
        color: #5f8eae;
        font-size: 30px;
        text-align: center;
        width: 15px;
        height: 15px;
        line-height: 12px;
        border: 2px solid #a4c4a4;
    }

    .page-wrap .radio p {
        margin: 0;
        padding: 0;
    }
    .page-wrap .ill-login__btn {
        background: #82c0ef;
        border: none!important;
        color: #444;
        font: 500 14px/18px Roboto,PTSans,Tahoma;
        height: 28px;
        letter-spacing: 1px;
        margin: 0 auto 28px;
        transition: all .2s ease;
        width: 400px;
        margin-right: 2px;
        margin-bottom: 0;
        padding: 4px 10px;
        width: 220px;
        float: right;
    }
    .page-wrap .ill-login__btn:hover {
        background: #fff;
    }

    .formControlVet {
        width: 80%;
        float: left;
    }
    .divVet button {
        background: #82c0ef!important;
        border: none!important;
        color: #fff;
        display: inline-block;
        font: 600 14px/18px Roboto,PTSans,Tahoma;
        height: auto!important;
        min-height: 38px;
        width: auto;
        border-radius: 0;
        letter-spacing: 1px;
        margin: 0;
        padding: 6px 16px;
        text-shadow: 0 1px 1px rgba(0,0,0,.2);
        transition: all .2s ease;
        float: right;
    }
    .blockVetal {
        display: block;

    }
    .blockVetal a{
        color: #4275b8;
        display: inline-block;
        margin: 3px 0 0;
    }
    .faVetal1 {
        float: right;
    }
    .faVetal2 {
        float: right;
    }
    .perevorot {
        transform: rotate(90deg);
    }
    .page-wrap .alert {
        background: #f9f0c4;
        color: #525252;
    }